.related-widgets-sidebar { float:right; width:100%; clear:both; margin:0 0 0.5em 0; }
.related-widgets-sidebar p { margin:0.5em 0; }
.related-widgets-sidebar hgroup { clear:both; position:relative; padding:0; margin:0; }
.related-widgets-sidebar h4 { display:inline-block; margin:0; padding:0.5em 0 0.5em 0; font-size:1.1em; }
.related-widgets-sidebar .add-widget { display:block; clear:both; margin:0; padding:8px 0 0 0; }
.related-widgets-sidebar .add-widget select { margin:0; max-width:15em; }
.related-widgets-enable { float:right; padding-top:0.6em; } 
.related-widgets-config { float:left; width:100%; clear:both; border:1px solid #ddd; border-radius:3px; background:#eee; }
.related_widgets { float:left; width:100%; clear:both; margin:0; padding:0; }
.related_widgets li { float:left; width:100%; margin:0; padding:0.3em 0; border-top:1px solid #ddd; cursor:move; }
.related_widgets li:first-child { border:none; }
.related_widgets .widget-hide-checkbox { float:left; position:relative; left:-1.25em; margin:0.15em -1.25em -1em 0; }
.related_widgets strong { font-weight:normal; }
.related_widgets .widget-item label { display:block; padding-left:1.25em; }
.related_widgets .widget-hide { float:right; margin:0 0.5em 0 0.5em; }
.related_widgets .widget-title { display:block; margin-left:0.5em; }
.related-widgets-sidebar .replace-widget-area { margin:8px 0; float:right; width:100%; clear:both; }
.related-widgets-sidebar .replace-widget-area strong { display:block; margin-bottom:5px; }
.related-widgets-sidebar .replace-widget-area select { margin:0.2em 0 0 0; padding:0; display:block; width:99%; }
.related-widgets-options .sortable-placeholder { background:yellow; border:none; }
.related-widgets-options .ui-sortable-helper { background:#ddd; color:#333; border:none; opacity:0.75; }
.related-widgets-options .edit-widgets-link { margin:0; padding:0.5em 0; clear:both; }

.edit-tags-php .related-widgets-sidebar { float:left; max-width:25em; }
.edit-tags-php .related-widgets-sidebar input { width:auto; margin:0; }