#related-widgets .inside { overflow:hidden; }
.related-widgets-sidebar { float:right; width:100%; clear:both; margin:0.5em 0; }
.related-widgets-header { padding:0.5em 0; }
.related-widgets-sidebar h4 { margin:0; display:inline-block; font-size:1.1em; }
.related_widgets { margin:0; padding:0; }
.related_widgets li { float:left; width:100%; display:block; clear:both; margin:2px 0; padding:0; background:#eee; cursor:move; border-radius:2px; border:1px solid #ddd; }
.related_widgets li:hover { background:#ddd; border-color:#ccc; }
.related_widgets li:hover .widget-actions { visibility:visible; }
.related_widgets strong { font-weight:normal; }
.related-widgets-options .edit-widgets-link { margin:1em 0 0 0; clear:both; }
.widget-actions { float:right; margin:0; padding:0; visibility:hidden; }
.widget-actions a { float:left; display:block; padding:0.5em; }
.widget-title { float:left; padding:0.5em; }
.related-widgets-tools { float:left; width:100%; clear:both; }
#poststuff .related-widgets-picker .nav-tab-wrapper { margin:0; padding:0; }

.related-widgets-picker { position:relative; max-height:400px; overflow:scroll; display:none; }
.related-widgets-picker .picker-header { float:left; width:100%; clear:both; border-bottom:1px solid #ddd; line-height:1; }
.related-widgets-picker .picker-tab-nav { display:block; float:left; }
.related-widgets-picker .related-widgets-column { display:none; }
.picker-tab-nav li { margin:0; padding:0; float:left; display:block; }
.picker-tab-nav a { font-size:1.05em; text-decoration:none; display:block; float:left; padding:0.5em 0.7em; margin:0 0 -1px 0; outline:none; }
.picker-tab-nav .ui-state-active a { color:#666; border:1px solid #ddd; border-radius:3px 3px 0 0; border-bottom:1px solid #fff; }
.picker-tab-nav .ui-state-active { margin:0 0.5em; }
.picker-tab { float:left; width:100%; clear:both; }
.picker-tab-wrap { padding:1em; }
#tab-widgets-new .widget, #tab-widgets-available .widget { clear:both; margin:0.5em auto; max-width:500px; }
#picker-back { float:left; display:block; padding:0.6em 0.8em 1em 0.8em; margin-bottom:-1em; }
.picker-tab .widget .alignright, .picker-tab .widget .alignleft { display:none; }
.picker-tab .widget .widget-top { cursor:inherit; }
.picker-tab .widget-top .widget-title { width:80%; }

.widget-settings { display:table; width:200%; position:relative; -webkit-transition:all 0.3s; }
.related-widgets-list, .related-widgets-picker { vertical-align:top; display:table-cell; width:50%; }
.picker-active { left:-100%; }
.picker-active .related-widgets-picker .related-widgets-column { display:block; }
.picker-active .related-widgets-list { }

.edit-tags-php .related-widgets-sidebar { float:left; max-width:25em; }
.edit-tags-php .related-widgets-sidebar input { width:auto; margin:0; }